default LINUX

LABEL LINUX
	MENU LABEL Install Ubuntu 14.04(64bit)
    KERNEL /vmlinuz.efi
    APPEND initrd=/initrd.lz vga=normal boot=casper rootfstype=nfs netboot=nfs nfsroot={{ ansible_eth0.ipv4.address }}:{{mountDir}}
